@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poetsen+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}

.font-poet {
    font-family: 'Poetsen One', serif;
}

.back-purple {
    background: rgb(139,92,246);
    background: linear-gradient(90deg, rgba(139,92,246,1) 7%, rgba(141,111,255,1) 61%, rgba(196,181,253,1) 100%);
}

html {
    height: 100vh;
    background: #8b5cf6;
}
